#content {
  height: 100vh;
}
h1 {
  color: white;
}
.navbar-nav .nav-link {
  color: black;
}
.text-align-equal {
  text-align: justify;
  text-justify: inter-word;
}
.no-margin {
  margin: 0 !important;
}
.zoom-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
