body {
  background-image: url("/src/resources/bckg_DSC_0120_02.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; */
  box-sizing: border-box;
}
.color-white {
  color: white;
}
.font-xl {
  font-size: 7vh;
}
.font-lg {
  font-size: 4vh;
}
.font-md {
  font-size: 2.5vh;
}
.font-sm {
  font-size: 1.5vh;
}
.font-xs {
  font-size: 0.5vh;
}
.light-bg {
  background-color: white;
}
